.landing-page {
  background-color: #fafafa;
  height: 100vh;

  .content > :nth-child(1) {
    position: relative;
  }

  .content > :nth-child(2) {
    gap: 12px;
    width: 350px;
  }

  .get-the-app {
    margin: 10px 0;
  }

  .stores {
    img {
      height: 40px;
      &:first-child {
        margin-right: 12px;
      }
    }
  }
}
