// Colors
$clr-1: #0b0d17;
$clr-2: #fafafa;
$clr-3: #dbdbdb;
$clr-4: #a8a8a8;
$clr-5: #262626;
$clr-6: #efefef;
$clr-7: #8e8e8e;
$clr-link: #0095f6;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 935px;
